<div class="author">
  <h1 class="author__headding">Hi, I am Raddy.</h1>
  <p class="author__body">Web developer and Content Creator.</p>
</div>

<img
  src="images/hero-image.webp"
  alt="hero image"
  class="hero-image"
  width="981"
  height="528"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span> <%= post.title %> </span>
        <span class="article-list__date">
          <%= post.createdAt.toDateString() %>
        </span>
      </a>
    </li>
    <% }) %>
  </ul>

  <% if (nextPage !==null) { %>
  <a href="/?page=<%=nextPage%>" class="pagination">&lt; View Older Posts</a>
  <% } else { %><a href="/?page=<%=prevoiusPage%>" class="pagination">
    View Newast Posts > </a
  >
  <% } %>
</section>
